/* line 1, ../sass/vTab.scss */
body {
  box-sizing: border-box;
  font-family: "open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/*general tabs*/
/* line 10, ../sass/vTab.scss */
tabs {
  display: block;
}

/*general tab*/
/* line 16, ../sass/vTab.scss */
tab {
  display: block;
  padding: 5px 5px 5px 8px;
  border-bottom: 1px solid black;
  width: 130px;
  color: #0F87B6;
  font-size: 14px;
  line-height: 1.5em;
}

/*this will target all the the direct descendantd of the main tab*/
/* line 33, ../sass/vTab.scss */
tabs.main > tab {
  position: relative;
  display: block;
  background: #F0F0F0;
  margin-left: 2px;
  border-bottom: 1px solid black;
}

/* line 42, ../sass/vTab.scss */
tabs.main > tab tabs.sub {
  background-color: purple;
  position: absolute;
  top: 0px;
  left: 145px;
  z-index: 999px;
}

/* line 54, ../sass/vTab.scss */
tabs.sub > tab {
  background: #ccc;
}

/* line 58, ../sass/vTab.scss */
tab:hover {
  background-color: #e6e6e6;
}

/* line 63, ../sass/vTab.scss */
.btn-selected {
  background-color: #e6e6e6;
}
