/* line 1, ../sass/vTab.scss */
body {
  box-sizing: border-box;
  font-family: "open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/*general tabs*/
/* line 10, ../sass/vTab.scss */
tabsgroup {
  display: block;
  width: 155px;
  border: 1px solid black;
}

/*general tab*/
/* line 20, ../sass/vTab.scss */
tab {
  display: block;
  padding: 5px 5px 5px 8px;
  border-bottom: 1px solid black;
  width: 130px;
  color: #0F87B6;
  font-size: 14px;
  line-height: 1.5em;
}

/* line 32, ../sass/vTab.scss */
tabsgroup.main > tab {
  position: relative;
  display: block;
  background: #F0F0F0;
  margin-left: 2px;
  width: 140px;
}
/* line 40, ../sass/vTab.scss */
tabsgroup.main > tab:hover {
  color: black;
  background-color: #fff;
}
/* line 45, ../sass/vTab.scss */
tabsgroup.main > tab tabsgroup.sub {
  margin-top: 4px;
  border: none;
  z-index: 999px;
  width: 140px;
}

/* line 60, ../sass/vTab.scss */
tabsgroup.sub > tab {
  background: #ccc;
}
/* line 64, ../sass/vTab.scss */
tabsgroup.sub > tab:last-child {
  border-bottom: none;
}
/* line 68, ../sass/vTab.scss */
tabsgroup.sub > tab:hover {
  color: white;
}

/* line 74, ../sass/vTab.scss */
tabsgroup.sub > tab:last-child {
  border-bottom: none;
}

/* line 80, ../sass/vTab.scss */
.green {
  background-color: green;
}
