body{
box-sizing: border-box;
font-family: "open sans", Helvetica, Arial, sans-serif;
font-weight: 400;
}



/*general tabs*/
tabs{
display:block;
//background-color: red;
//padding:10px;
//width:500px;

}

/*general tab*/
tab{
	display: block;
    background-color:green;
   //margin-left:40px;
    padding:5px 5px 5px 8px;
    border-bottom:1px solid black;
    width:130px;

    color: #0F87B6;
	font-size: 14px;
	line-height: 1.5em;
}



/*this will target the direct descendantd of the main tab*/
tabs.main > tab{
	display: block;
    background:#F0F0F0;
    margin-left:2px;
    
    border-bottom:1px solid black;
    
}

tabs.sub{
	//background-color: pink;
	margin-top:-25px;
	margin-left:135px;
	width:400px;

}

tabs.sub > tab{
	
    background:#ccc;
   
   
    
}

tab:hover{
background-color: #e6e6e6;	
}


.btn-selected{
	
	background-color: #e6e6e6;
}


